fastapi==0.115.0
python-multipart==0.0.32
uvicorn==0.30.6
openai==2.41.1
numpy==1.26.4
python-dotenv==1.0.1
azure-search-documents==11.6.0
azure-monitor-opentelemetry==1.6.4
playwright==1.49.0
azure-ai-documentintelligence==1.0.0
azure-ai-textanalytics==5.3.0
azure-ai-contentsafety==1.0.0
datasets==5.0.0
rich==13.7.1
requests==2.32.3
pyspark==3.5.3
mlflow==2.16.2
setuptools>=82.0.1
